* {
  outline: 1px solid red;
  outline-offset: -1px;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: row;
  flex: wrap;
}

header img {
  height: 7rem;
  /* width: 9rem; */
}

header div {
  width: 100%;
  padding: 1rem;
}

h1 {
  margin: auto;
  font-family: 'Alfa Slab One', serif;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  padding-bottom: .5rem;
  color: black;
  text-shadow: 1px 1px 1px green;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  font-family: 'Press Start 2P', serif;
  background-color: black;
  color: green;
  text-decoration: none;
  border: 2px outset lightgray;
}

a:hover {
  color: white;
  border-style: inset;
}

main {
  margin-left: 7rem;
}

h2 {
  margin: 0 0 1rem 0;
  padding: .5rem 0;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

main li {
  padding: .5rem;
  text-align: center;
  color: darkorange
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}